@font-face {
    font-family: 'Biko';
    src: url('Biko-Bold.woff2') format('woff2'),
        url('Biko-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Biko';
    src: url('Biko-Black.woff2') format('woff2'),
        url('Biko-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Biko';
    src: url('Biko.woff2') format('woff2'),
        url('Biko.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Biko';
    src: url('Biko-Light.woff2') format('woff2'),
        url('Biko-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

